<div
  style="
    width: calc(100% + 4em);
    min-height: 370px;
    position: relative;
    margin: -2em -2em 2em -2em;
  "
  *ngIf="category && product"
>
  <div
    style="background-image: url('{{ getImagePath(category) }}');"
    class="category"
    [ngClass]="{ brightness: !getImagePath(category) }"
  ></div>
  <div style="position: absolute; top: 45%; width: 100%; text-align: center">
    <h1 style="color: #ffffff; font-size: 48px; font-weight: 700">
      {{ product.name }} {{ product.quantity }}{{ product.unit }}
    </h1>
    <p style="font-size: 18px; font-weight: 500px; color: #ffffff">
      Inicio - {{ category.name }} - {{ product.name }}
    </p>
  </div>
</div>

<div class="product-container" *ngIf="product">
  <mat-card
    style="
      width: 473px;
      height: 526px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(196, 196, 196, 0.3);
    "
  >
    <img style="width: 257px; height: 388px" [src]="product.images[0].path" />
  </mat-card>
  <div
    style="
      display: flex;
      flex-direction: column;
      max-width: 50%;
      margin-left: 3em;
    "
  >
    <p style="font-size: 48px; font-weight: 700; color: #a1a848">
      {{ product.name }} {{ product.quantity }}{{ product.unit }}
    </p>
    <p style="font-size: 18px; font-weight: 400; margin-top: 2em">
      {{ product.description }}
    </p>
    <mat-divider style="margin-top: 3em"></mat-divider>
    <div style="margin-top: 2em">
      <img
        src="assets/img/wpp.png"
        style="width: 40px"
        (click)="onClickWhatsapp()"
      />
      <span
        style="
          font-size: 18px;
          font-weight: 700;
          color: #f8b323;
          margin-left: 12px;
        "
        >Escríbenos</span
      >
      <img src="assets/img/cll.png" style="margin-left: 60px" />
      <span
        style="
          font-size: 18px;
          font-weight: 700;
          color: #f8b323;
          margin-left: 12px;
        "
        >Llámenos</span
      >
    </div>
  </div>
</div>
