.products-contaienr {
  display: flex;
  margin-top: 4em;
  width: 100%;
}

.filter {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  margin-left: 51px;
  max-width: 75%;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
}

.category {
  width: 100%;
  min-height: 370px;
  background-color: #979c44;
  margin-bottom: 1em;
  background-size: cover;
  filter: brightness(0.5);
}

.brightness {
  filter: brightness(0.75) !important;
}
