<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <div
        [ngStyle]="{
          width: commonService.isTablet ? '100%' : 'calc(100% + 4em)'
        }"
        style="min-height: 370px; position: relative"
        *ngIf="category"
      >
        <div
          style="background-image: url('{{getImagePath(category)}}'); background-position: center"
          class="category"
          [ngClass]="{
            brightness: !getImagePath(category)
          }"
        ></div>
        <div
          class="title_header"
          style="position: absolute; top: 45%; width: 100%; text-align: center"
        >
          <h1 style="color: #ffffff; font-size: 48px; font-weight: 700">
            {{ category.name }}
          </h1>
          <p style="font-size: 18px; font-weight: 500px; color: #ffffff">
            Inicio - {{ category.name }}
          </p>
        </div>
        <button
          color="primay"
          mat-fab
          style="position: absolute; top: 1em; right: 1em"
          (click)="onClickAddOfferImage()"
          *ngIf="isLogedIn"
        >
          <mat-icon *ngIf="!loading; else loadingT">add_a_photo</mat-icon>
          <ng-template #loadingT>
            <mat-spinner diameter="24"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </div>
  </div>

  <div class="row pt-2">
    <div
      [ngStyle]="{ display: showFilter ? 'initial' : 'none' }"
      class="col-12 col-md-4 col-lg-3"
    >
      <p style="font-size: 18px; font-weight: 400">Opciones de productos</p>
      <mat-divider></mat-divider>
      <br />

      <mat-accordion #accordionFilter="matAccordion" class="mat__accordion">
        <mat-expansion-panel *ngIf="categories?.length">
          <mat-expansion-panel-header> Categoría </mat-expansion-panel-header>
          <mat-selection-list
            #categoryList
            (selectionChange)="onSelectCategory()"
          >
            <mat-list-option
              checkboxPosition="before"
              *ngFor="let category of categories"
              [value]="category"
            >
              {{ category.name }}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="brands?.length">
          <mat-expansion-panel-header> Marca </mat-expansion-panel-header>
          <mat-selection-list #brandList (selectionChange)="onSelectBrand()">
            <mat-list-option
              checkboxPosition="before"
              *ngFor="let brand of brands"
              [value]="brand"
            >
              {{ brand.name }}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="weights?.length">
          <mat-expansion-panel-header> Peso </mat-expansion-panel-header>
          <mat-selection-list
            multiple="false"
            #weightList
            (selectionChange)="onSelectWeight()"
          >
            <mat-list-option
              checkboxPosition="before"
              *ngFor="let weight of weights"
              [value]="{ unit: weight.unit, quantity: weight.quantity }"
            >
              {{ weight.quantity }}{{ weight.unit }}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="!showFilter && (categories?.length || brands?.length || weights?.length)" class="col-12">
      <button mat-stroked-button (click)="showFilter = !showFilter">
        <mat-icon>tune</mat-icon>
        Filtros
      </button>
    </div>

    <div #divProducts class="col-12 col-md-8 col-lg-9">
      <!--------carousel------->
      <div class="row">
        <ng-container *ngFor="let product of products; let i = index">
          <div
            *ngIf="
              i < itemsPerPage * actualPage &&
              i >= itemsPerPage * actualPage - itemsPerPage
            "
            class="col-6 col-md-4 col-lg-3 my-3"
          >
            <mat-card
              (click)="onClickProduct(product)"
              class="h-100"
              [ngClass]="{ 'py-4': !commonService.isTablet }"
              style="text-align: center; border-radius: 16px"
            >
              <img
                style="width: 96px; height: 145px"
                [src]="product.images[0]?.path"
              />
              <mat-card-content class="product_description">
                <p style="margin-top: 22px">
                  {{ product.name }} {{ product.quantity }}{{ product.unit }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
      </div>

      <div style="width: 100%; margin-top: 2em" *ngIf="products">
        <app-paginator
          [totalItems]="products?.length"
          [itemsPerPage]="itemsPerPage"
          (onNext)="onPaginate($event)"
          *ngIf="products.length > itemsPerPage"
        ></app-paginator>
      </div>
    </div>
  </div>
</div>
