<app-toolbar [isLoginPage]="isLoginPage"></app-toolbar>

<div style="padding: 2em" [ngClass]="{ 'login-page-body': isLoginPage }">
  <router-outlet></router-outlet>
</div>

<!--Footer-->
<mat-toolbar
  color="primary"
  style="position: absolute; bottom: 0; height: 122px"
  [ngClass]="{ 'login-page-footer': isLoginPage }"
>
  <div style="width: 100%" align="center">
    <span
      >Diseño: HF | copyryght©2021 | Todos los Derechos Reservados por
      Distribuciones Rosimar S.A.S</span
    >
  </div>
</mat-toolbar>
