<mat-toolbar class="toolbar-home" color="primary" *ngIf="!isAdminRoutes">
  <div style="width: 100%; display: flex; padding-top: 1em">
    <div style="flex-grow: 1">
      <img
        routerLink
        src="assets/img/logo_encabezado.svg"
        style="margin-left: 1em; max-width: 210px; max-height: 57px"
      />
    </div>
    <div style="flex-grow: 4; display: flex; justify-content: end">
      <div><span>SÍGUENOS</span></div>
      <div>
        <a href="https://web.facebook.com/rosimarbarranquilla">
          <img
            src="assets/img/facebook.svg"
            style="margin-top: 2px; margin-left: 1em"
          />
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/distribucionesrosimar/?hl=es-la">
          <img
            src="assets/img/instagram.svg"
            style="width: 31px; height: 26px; margin-left: 1em"
          />
        </a>
      </div>
    </div>
    <div style="flex-grow: 1; justify-content: end">
      <button
        style="float: right; margin-top: -0.2em; margin-right: 1em"
        mat-button
        routerLink="home"
        routerLinkActive="active"
      >
        <mat-icon>home</mat-icon>
        INICIO
      </button>
    </div>
  </div>
  <div style="width: 100%; display: flex; justify-content: center">
    <button
      style="margin-left: 2em; margin-right: 2em"
      mat-button
      routerLink="company"
      routerLinkActive="active"
    >
      TU EMPRESA
    </button>
    <button
      style="margin-left: 2em; margin-right: 2em"
      mat-button
      routerLink="categories"
      routerLinkActive="active"
    >
      PRODUCTOS
    </button>
    <button
      style="margin-left: 2em; margin-right: 2em"
      mat-button
      routerLink="products/offers"
      routerLinkActive="active"
    >
      OFERTAS
    </button>
    <button
      style="margin-left: 2em; margin-right: 2em"
      mat-button
      (click)="onClickContact()"
    >
      CONTÁCTENOS
    </button>
    <button
      style="margin-left: 2em; margin-right: 2em"
      mat-button
      routerLink="login"
      routerLinkActive="active"
    >
      INGRESAR
    </button>
  </div>
</mat-toolbar>

<mat-toolbar class="toolbar" color="primary" *ngIf="isAdminRoutes">
  <img
    routerLink
    src="assets/img/logo_encabezado.svg"
    style="margin-left: 1em; max-width: 210px; max-height: 57px"
  />
  <div class="menu">
    <button mat-button routerLink="admin/brands" routerLinkActive="active">
      Marcas
    </button>
    <button mat-button routerLink="admin/categories" routerLinkActive="active">
      Categorías
    </button>
    <button mat-button routerLink="admin/products" routerLinkActive="active">
      Productos
    </button>
    <button mat-button routerLink="admin/offers" routerLinkActive="active">
      Ofertas
    </button>
    <button mat-button routerLink="admin/users" routerLinkActive="active">
      Usuarios
    </button>
    <button mat-button (click)="onClickExit()" *ngIf="isLogedIn">
      Salir
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-button routerLink="login" *ngIf="!isLogedIn">
      Ingresar
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>
