.toolbar {
  background-image: url("../../../assets/img/encabezado.png");
  height: 80px;
  background-size: cover;
    background-repeat: no-repeat;
}

button:hover {
  background-color: #f9ab0033;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 2em;
}

button {
  font-size: 0.9em;
}

.toolbar-home {
  background-image: url("../../../assets/img/encabezado.png");
  height: 140px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  color: #f8b323;
}
