.toolbar {
  background-image: url("../../../assets/img/encabezado.png");
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

button:hover {
  background-color: #f9ab0033;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 2em;
}

button {
  font-size: 0.9em;
}

.toolbar-home {
  background-image: url("../../../assets/img/encabezado.png");
  height: 140px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .toolbar-home {
    height: auto;
  }
}

@media (max-width: 768px) {
  .toolbar-home .logo_encabezado,
  .toolbar .logo_encabezado {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 120px !important;
    height: auto !important;
  }
}

.active {
  color: #f8b323;
}
